@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chronometer {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #75B79E;
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 47px;
}

.config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;
    width: 360px;
    max-width: 100%;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    padding: 25px;
    color: #75B79E;
}

input, select {
    outline: none;
    border-radius: 2px;
    height: 25px;
    padding-left: 4px;
    border: 1px solid #99CEA8;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    margin: 0 auto;
    color: #75B79E;
    font-size: 16px;
    background: #fff;
    transition: width 1s;
    cursor: pointer;
}

button:hover {
    width: 80%;
    transition: width 1s;
}

#parrot-game {
    display: none;
}

.parrot-game {
    grid-column-gap: 34px;
    grid-row-gap: 34px;
    perspective: 1000px;
}

.parrot-card {
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.parrot-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.parrot-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #A7E9AF;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    color: #75B79E;
    margin: 15% auto;
    padding: 20px;
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-content img {
    border-radius: 50%;
    height: 160px;
}

.stats-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stats-container button {
    width: 100%;
    height: 25px;
    cursor: pointer;
}

@media screen and (max-width: 1540px) {
    .modal-content {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
    h1 {
        text-align: center;
    }
    .chronometer {
        right: 12px;
        bottom: 12px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-bottom: 50px;
    }
    h1 {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
    }
    .config {
        width: 100%;
    }
    button {
        width: 100%;
    }
    input {
        width: 100%;
    }
    select {
        width: 109%;
    }
    .modal-content img {
        display: none;
    }
}